* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
}


.hands {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.hand {

    background-size: contain;
    background-repeat: no-repeat;
}

#left {
    background-image: url(left.png);
    width: 574px;
    height: 430px;
    margin-top: 320px;
}

#right {
    position: absolute;
    right: 0;
    top: 25vh;
    background-image: url(right.png);
    width: 486px;
    height: 430px;
}
/* .static {
    left: 100%;
    transform: translateX(-100%);
} */